$sizeFont: 15px;
$sizeFontSmall: convert-to-rem(12);
$sizeFontMedium: convert-to-rem(20);
$sizeFontBig: convert-to-rem(36);

$sizeIconDefault: convert-to-rem(60);
$sizeButtonDefault: convert-to-rem(110);
$sizeLogoDefault: $sizeButtonDefault;
$sizeInputHeightDefault: convert-to-rem(42);

$colorBlack: #363333;
$colorBlackHover: #000;

$colorGrey: #121;
$colorWhite: #fff;

$colorBlue: #0e0857;
$colorBlueHover: #0a0641;

$colorGreen: #0B5B21;
$colorGreenHover: #084418; 

$colorRed: #7D0909;
$colorRedHover: #5d0606;

$spaceTiny: convert-to-rem(2);
$spaceMini: convert-to-rem(4);
$spaceSmall: convert-to-rem(12);
$spaceRegular: convert-to-rem(18);
