$sizeFont: 15px;
$sizeFontSmall: pxToRem(12);

$sizeIconDefault: pxToRem(60);
$sizeButtonDefault: pxToRem(110);

$colorBlack: #363333;
$colorBlackHover: #000;

$colorWhite: #fff;

$colorBlue: #0e0857;
$colorBlueHover: #0a0641;

$colorGreen: #0B5B21;
$colorGreenHover: #084418; 

$colorRed: #7D0909;
$colorRedHover: #5d0606;

$spaceTiny: pxToRem(2);
